::highlight(search-results) {
  background-color: rgba(255, 255, 0, 0.4);
  color: inherit;
}

::highlight(search-current) {
  background-color: rgba(255, 165, 0, 0.6);
  color: black;
  outline: 2px solid orange;
}
